@model AlgorandCrowdfund.Models.RequestFunds

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RequestFunds</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FundTitle" class="control-label"></label>
                <input asp-for="FundTitle" class="form-control" />
                <span asp-validation-for="FundTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundDescription" class="control-label"></label>
                <input asp-for="FundDescription" class="form-control" />
                <span asp-validation-for="FundDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountNeeded" class="control-label"></label>
                <input asp-for="AmountNeeded" class="form-control" />
                <span asp-validation-for="AmountNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
